{% extends "products/base.html" %}
{%load static%}
{% block body%}
{% load cart%}
<div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home</a></span> <span>Checkout</span>
                </p>
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <form action="#" class="billing-form" id = 'form'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">

                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Firt Name</label>

                                {%if request.user.email|identity %}

                                <input type="text" class="form-control " value="{{request.user.first_name}}" name = "fname" disabled>
                                {% else%}
                                <!--                                <p>{{request.user}}else</p>-->
                                <input type="text" class="form-control " placeholder="Enter here...." value=""  name = "fname" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                {%if request.user.email|identity %}
                                <input type="text" class="form-control " value="{{request.user.last_name}}" name = "lname" disabled>
                                {% else%}

                                <input type="text" class="form-control " placeholder="Enter here...." value="" name = "lname" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Country*</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="nation" id="" class="form-control">
                                        <option value="None" selected>Select</option>
                                        <option value="India" >India</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="South Korea">South Korea</option>
                                        <option value="Hongkong">Hongkong</option>
                                        <option value="Japan">Japan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="country">State*</label>
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="state" class="form-control" required>
                                        <option value="None" selected>Select</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetaddress">Street Address*</label>
                                <input type="text" class="form-control" placeholder="House number and street name" name = "address1"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name = "address2"
                                       placeholder="Appartment, suite, unit etc: (optional)">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towncity">Town / City *</label>
                                <input type="text" class="form-control" placeholder="" name = "city" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcodezip">Postcode / ZIP *</label>
                                <input type="text" class="form-control" placeholder="" name = "code"required>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone*</label>
                                <input type="text" class="form-control" placeholder="" name = "phone" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="emailaddress">Email Address*</label>
                                {%if request.user.email|identity %}

                                <input type="email" class="form-control " value="{{request.user.email}}" name = "email" disabled>
                                {% else%}

                                <input type="email" class="form-control " placeholder="Enter here...." value="" name = "email"
                                       required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <!--<div class="col-md-12">-->
                        <!--<div class="form-group mt-4">-->
                        <!--<div class="radio">-->
                        <!--<label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>-->
                        <!--<label><input type="radio" name="optradio"> Ship to different address</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Cart Total</h3>
                                <p class="d-flex">
                                    <span>Subtotal</span>
                                    <span>₹ {{order.get_cart_total|floatformat:2}}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Delivery</span>
                                    <span>₹ {{order.delivery_charge|floatformat:2}}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Discount</span>
                                    <span>₹ {{order.discount|floatformat:2}}</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span>₹ {{order.final_total|floatformat:2}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <!--<h3 class="billing-heading mb-4">Payment Method</h3>-->
                                <!--<div class="form-group">-->
                                <!--<div class="col-md-12">-->
                                <!--<div class="radio">-->
                                <!--<label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                <!--<div class="col-md-12">-->
                                <!--<div class="radio">-->
                                <!--<label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                <!--<div class="col-md-12">-->
                                <!--<div class="radio">-->
                                <!--<label><input type="radio" name="optradio" class="mr-2"> Paypal</label>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" class="mr-2"> I have read and accept
                                                the terms and conditions</label>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary py-3 px-4" id="make-payment">Place an
                                        order
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script type="text/javascript">
    var total = '{{order.final_total|floatformat:2}}'
    var quan = 	'{{order.get_cart_items}}'
    document.getElementById('make-payment').addEventListener('click',function(e){

        submitFormData(quan)
    })

    function submitFormData(quantity){
        console.log('Button clicked')
        var userFormData = {
                'fname' : null,
                'lname' : null,
                'email' : null,
                'total' : total,
        }
        console.log('Button clicked2')
        var shippingInfo = {
                'nation' : null,
                'state' : null,
                'address1' : null,
                'address2' : null,
                'city' : null,
                'code' : null,
                'phone' : null,

        }
        console.log('Button clicked3')
        if(quantity>0)
        {
            console.log('Button clicked4')
            shippingInfo.nation = form.nation.value
            shippingInfo.state = form.state.value
            shippingInfo.address1 = form.address1.value
            shippingInfo.address2 = form.address2.value
            shippingInfo.city = form.city.value
            shippingInfo.code = form.code.value
            shippingInfo.phone = form.phone.value
        }
        console.log('Button clicked5')

            console.log('Button clicked6')
                userFormData.fname = form.fname.value
                userFormData.lname = form.lname.value
                userFormData.email = form.email.value



         var url = '/product/processOrder/'

	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'application/json',
	    			'X-CSRFToken':csrftoken,
	    		},
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),

	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');
				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = '/product/'
				})
	    }
    


</script>
{% endblock %}