{% extends "products/base.html" %}
{% block body%}
{% load cart %}
<section class="ftco-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row" id = "checker">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="{% url 'products:detail' product_obj.pk %}" class="image-popup">
                    <img src="{{ product_obj.product_img.url }}" class="img-fluid" alt="Unable to Load Image">
                </a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>{{ product_obj.product_name }}</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">{{ product_obj.product_ratings }}</a>
                        {% for i in p_range %}
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        {% endfor %}
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span> ₹{{ product_obj.product_price }} </span></p>
                <p>
                    {{ product_obj.product_des }}
                </p>

<!--                <p><a href="cart.html" class="btn btn-black py-3 px-5">Add to Cart</a></p>-->




                {% if product_obj|is_in_cart:request.session.cart%}

<!--                <div><p>There Exists the product. Increase by 1</p></div>-->
<!--                 <div class="row mt-4">-->
<!--                    <div class="col-md-6">-->
<!--                        <div class="form-group d-flex">-->
<!--                            <div class="select-wrap">-->
<!--                                <div class="icon"><span class="ion-ios-arrow-down"></span></div>-->
<!--                                <select name="" id="" class="form-control">-->
<!--                                    <option value="">Small</option>-->
<!--                                    <option value="">Medium</option>-->
<!--                                    <option value="">Large</option>-->
<!--                                    <option value="">Extra Large</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="w-100"></div>

                    <div class="input-group col-md-6 d-flex mb-3" >
<!--                        <form action = "{% url 'products:detail' product_obj.pk %}" method="POST">-->
                        <form action = "/product/{{product_obj.id}}/#checker" method="POST">
                            {% csrf_token %}
                            <input hidden type="text" name = 'product' value='{{product_obj.id}}'>
                            <input hidden type="text" name = 'remove' value='True'>
                        <span class="input-group-btn mr-2">
                            <button type="submit" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="ion-ios-remove"></i>
                            </button>
                        </span>
                        </form>

                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="{{ product_obj|cart_quantity:request.session.cart }}" min="1" max="100">
<!--                        <form action = "{% url 'products:detail' product_obj.pk %}" method="POST">-->
                        <form action = "/product/{{product_obj.id}}/#checker" method="POST">
                        <span class="input-group-btn ml-2">

                            {% csrf_token %}
                            <input hidden type="text" name = 'product' value='{{product_obj.id}}'>
                            <button type="submit" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="ion-ios-add"></i>
                            </button>
                        </span>
                        </form>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                        <p style="color: #000;">600 kg available</p>
                    </div>

                </div>
<!--                <form action = "{% url 'products:detail' product_obj.pk %}" method="POST">-->
<!--                    {% csrf_token %}-->
<!--                    <input hidden type="text" name = 'product' value='{{product_obj.id}}'>-->
<!--                    <p><input type="submit" class="btn btn-black py-3 px-5" value="Change To "></p>-->
<!--                </form>-->


                {% else %}
<!--                    <form action = "{% url 'products:detail' product_obj.pk %}" method="POST">-->
                <form action = "/product/{{product_obj.id}}/#checker" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name = 'product' value='{{product_obj.id}}'>
                        <p><input type="submit" class="btn btn-black py-3 px-5" value="Add to Cart"></p>
                    </form>

                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}