{% extends "products/base.html" %}
{% block body%}
<!--<h2>This is from products page</h2>-->

<section class="ftco-section">
    <div class="container">
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-10 mb-5 text-center">-->
<!--                <ul class="product-category">-->
<!--                    <li><a href="#" class="active">All</a></li>-->
<!--                    <li><a href="#">Vegetables</a></li>-->
<!--                    <li><a href="#">Fruits</a></li>-->
<!--                    <li><a href="#">Juice</a></li>-->
<!--                    <li><a href="#">Dried</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            {% for product in page_products %}
            <a href="#"
               class="add-to-cart d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="{% url 'products:detail' product.pk %}" class="img-prod">
                        <img class="img-fluid" src="{{ product.product_img.url }}" alt="Unable to load Image">
<!--Discounts                        <span class="status">30%</span>-->
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="#">{{ product.product_name }} </a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price">
                                    <span class="mr-2 price-dc">₹120.00</span>
                                    <span class="price-sale">₹ {{ product.product_price }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <!--<a href="#"
                                   class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>-->
                                <a href="#" data-product = {{product.id}} data-action="add" class="buy-now d-flex justify-content-center align-items-center mx-1 update-cart">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if page_products.has_previous %}
                            <li><a href="?page={{ page_products.previous_page_number }}">&lt;</a></li>
                        {% endif %}
                        {% for index in num_pages %}
                            {% if index == page_products.number %}
                                <li class="active"><span> {{ index }} </span></li>
                            {% else %}
                                <li><a href="?page={{ index }}"> {{ index }} </a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_products.has_next %}
                            <li><a href="?page={{ page_products.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
